<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="shortcut icon" type="x-icon" href="/imgs/logo.jpg" />
    <link rel="stylesheet" href="/css/base.css" />
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/btn_scroll.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <link rel="stylesheet" href="/css/space.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <!-- bootstrap icons -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css"
    />
  </head>
  <body>
    <div class="position-relative">
      <header class="header"><%- include("../partials/header.ejs") %></header>
      <!-- restaurant space -->
      <div class="space">
        <div class="space-banner"></div>
        <div class="space-floor mt-2 p-4 d-flex justify-content-between">
          <div class="space-floor1__slides w-50 position-relative">
            <div class="space-floor__img active">
              <img src="/imgs/floor1-1.jpg" alt="" />
            </div>

            <div class="space-floor__img">
              <img src="/imgs/floor4-1.jpg" alt="" />
            </div>
            <div class="space-floor__img">
              <img src="/imgs/floor3-1.jpg" alt="" />
            </div>
            <div
              class="space-floor__btns d-flex justify-content-between position-absolute"
            >
              <button
                class="space-floor__btn-left d-flex justify-content-center align-items-center"
              >
                <i class="bi bi-chevron-left"></i>
              </button>
              <button
                class="space-floor__btn-right d-flex justify-content-center align-items-center"
              >
                <i class="bi bi-chevron-right"></i>
              </button>
            </div>
          </div>
          <div class="space-floor1_desc w-50 ms-2">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rerum
            aperiam magni ea culpa quos, at asperiores. Molestiae dolorum totam,
            odio libero aspernatur dicta, exercitationem cupiditate quam
            voluptatibus corrupti quaerat non!
          </div>
        </div>
        <div class="space-floor mt-2 p-4 d-flex justify-content-between">
          <div class="space-floor2__slides w-50 position-relative">
            <div class="space-floor__img active">
              <img src="/imgs/floor1-1.jpg" alt="" />
            </div>

            <div class="space-floor__img">
              <img src="/imgs/floor4-1.jpg" alt="" />
            </div>
            <div class="space-floor__img">
              <img src="/imgs/floor3-1.jpg" alt="" />
            </div>
            <div
              class="space-floor__btns d-flex justify-content-between position-absolute"
            >
              <button
                class="space-floor__btn-left d-flex justify-content-center align-items-center"
              >
                <i class="bi bi-chevron-left"></i>
              </button>
              <button
                class="space-floor__btn-right d-flex justify-content-center align-items-center"
              >
                <i class="bi bi-chevron-right"></i>
              </button>
            </div>
          </div>
          <div class="space-floor1_desc w-50 ms-2">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rerum
            aperiam magni ea culpa quos, at asperiores. Molestiae dolorum totam,
            odio libero aspernatur dicta, exercitationem cupiditate quam
            voluptatibus corrupti quaerat non!
          </div>
        </div>
        <div class="space-floor mt-2 p-4 d-flex justify-content-between">
          <div class="space-floor3__slides w-50 position-relative">
            <div class="space-floor__img active">
              <img src="/imgs/floor1-1.jpg" alt="" />
            </div>

            <div class="space-floor__img">
              <img src="/imgs/floor4-1.jpg" alt="" />
            </div>
            <div class="space-floor__img">
              <img src="/imgs/floor3-1.jpg" alt="" />
            </div>
            <div
              class="space-floor__btns d-flex justify-content-between position-absolute"
            >
              <button
                class="space-floor__btn-left d-flex justify-content-center align-items-center"
              >
                <i class="bi bi-chevron-left"></i>
              </button>
              <button
                class="space-floor__btn-right d-flex justify-content-center align-items-center"
              >
                <i class="bi bi-chevron-right"></i>
              </button>
            </div>
          </div>
          <div class="space-floor1_desc w-50 ms-2">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rerum
            aperiam magni ea culpa quos, at asperiores. Molestiae dolorum totam,
            odio libero aspernatur dicta, exercitationem cupiditate quam
            voluptatibus corrupti quaerat non!
          </div>
        </div>
        <div class="space-floor mt-2 p-4 d-flex justify-content-between">
          <div class="space-floor4__slides w-50 position-relative">
            <div class="space-floor__img active">
              <img src="/imgs/floor1-1.jpg" alt="" />
            </div>

            <div class="space-floor__img">
              <img src="/imgs/floor4-1.jpg" alt="" />
            </div>
            <div class="space-floor__img">
              <img src="/imgs/floor3-1.jpg" alt="" />
            </div>
            <div
              class="space-floor__btns d-flex justify-content-between position-absolute"
            >
              <button
                class="space-floor__btn-left d-flex justify-content-center align-items-center"
              >
                <i class="bi bi-chevron-left"></i>
              </button>
              <button
                class="space-floor__btn-right d-flex justify-content-center align-items-center"
              >
                <i class="bi bi-chevron-right"></i>
              </button>
            </div>
          </div>
          <div class="space-floor1_desc w-50 ms-2">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rerum
            aperiam magni ea culpa quos, at asperiores. Molestiae dolorum totam,
            odio libero aspernatur dicta, exercitationem cupiditate quam
            voluptatibus corrupti quaerat non!
          </div>
        </div>
        <div class="space-floor mt-2 p-4 d-flex justify-content-between">
          <div class="space-floor5__slides w-50 position-relative">
            <div class="space-floor__img active">
              <img src="/imgs/floor1-1.jpg" alt="" />
            </div>

            <div class="space-floor__img">
              <img src="/imgs/floor4-1.jpg" alt="" />
            </div>
            <div class="space-floor__img">
              <img src="/imgs/floor3-1.jpg" alt="" />
            </div>
            <div
              class="space-floor__btns d-flex justify-content-between position-absolute"
            >
              <button
                class="space-floor__btn-left d-flex justify-content-center align-items-center"
              >
                <i class="bi bi-chevron-left"></i>
              </button>
              <button
                class="space-floor__btn-right d-flex justify-content-center align-items-center"
              >
                <i class="bi bi-chevron-right"></i>
              </button>
            </div>
          </div>
          <div class="space-floor1_desc w-50 ms-2">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rerum
            aperiam magni ea culpa quos, at asperiores. Molestiae dolorum totam,
            odio libero aspernatur dicta, exercitationem cupiditate quam
            voluptatibus corrupti quaerat non!
          </div>
        </div>
      </div>
      <!-- footer -->
      <%- include("../partials/footer.ejs") %> <%-
      include("../partials/scrollToZero.ejs") %>
    </div>
    <script src="js/header.js"></script>
    <script src="js/scrollToZero.js"></script>
    <script src="js/collapse_menu.js"></script>
    <script>
      const listSlideFloor1 = document.querySelectorAll(
        ".space-floor1__slides .space-floor__img"
      );
      const listSlideFloor2 = document.querySelectorAll(
        ".space-floor2__slides .space-floor__img"
      );
      const listSlideFloor3 = document.querySelectorAll(
        ".space-floor3__slides .space-floor__img"
      );
      const listSlideFloor4 = document.querySelectorAll(
        ".space-floor4__slides .space-floor__img"
      );
      const listSlideFloor5 = document.querySelectorAll(
        ".space-floor5__slides .space-floor__img"
      );

      const nextSpaceFloor1 = document.querySelector(
        ".space-floor1__slides .space-floor__btn-right"
      );
      const prevSpaceFloor1 = document.querySelector(
        ".space-floor1__slides .space-floor__btn-left"
      );
      const nextSpaceFloor2 = document.querySelector(
        ".space-floor2__slides .space-floor__btn-right"
      );
      const prevSpaceFloor2 = document.querySelector(
        ".space-floor2__slides .space-floor__btn-left"
      );
      const nextSpaceFloor3 = document.querySelector(
        ".space-floor3__slides .space-floor__btn-right"
      );
      const prevSpaceFloor3 = document.querySelector(
        ".space-floor3__slides .space-floor__btn-left"
      );
      const nextSpaceFloor4 = document.querySelector(
        ".space-floor4__slides .space-floor__btn-right"
      );
      const prevSpaceFloor4 = document.querySelector(
        ".space-floor4__slides .space-floor__btn-left"
      );
      const nextSpaceFloor5 = document.querySelector(
        ".space-floor5__slides .space-floor__btn-right"
      );
      const prevSpaceFloor5 = document.querySelector(
        ".space-floor5__slides .space-floor__btn-left"
      );
      let active = 0;
      let active2 = 0;
      let active3 = 0;
      let active4 = 0;
      let active5 = 0;
      nextSpaceFloor1.onclick = () => {
        listSlideFloor1[active].classList.remove("active");
        active = active >= listSlideFloor1.length - 1 ? 0 : ++active;
        listSlideFloor1[active].classList.add("active");
      };
      prevSpaceFloor1.onclick = () => {
        listSlideFloor1[active].classList.remove("active");
        active = active == 0 ? listSlideFloor1.length - 1 : --active;
        listSlideFloor1[active].classList.add("active");
      };
      //===========
      nextSpaceFloor2.onclick = () => {
        listSlideFloor2[active].classList.remove("active");
        active = active >= listSlideFloor1.length - 1 ? 0 : ++active;
        listSlideFloor2[active].classList.add("active");
      };
      prevSpaceFloor2.onclick = () => {
        listSlideFloor2[active].classList.remove("active");
        active = active == 0 ? listSlideFloor1.length - 1 : --active;
        listSlideFloor2[active].classList.add("active");
      };
      //===========
      nextSpaceFloor3.onclick = () => {
        listSlideFloor3[active].classList.remove("active");
        active = active >= listSlideFloor1.length - 1 ? 0 : ++active;
        listSlideFloor3[active].classList.add("active");
      };
      prevSpaceFloor3.onclick = () => {
        listSlideFloor3[active].classList.remove("active");
        active = active == 0 ? listSlideFloor1.length - 1 : --active;
        listSlideFloor3[active].classList.add("active");
      };
      //===========
      nextSpaceFloor4.onclick = () => {
        listSlideFloor4[active].classList.remove("active");
        active = active >= listSlideFloor1.length - 1 ? 0 : ++active;
        listSlideFloor4[active].classList.add("active");
      };
      prevSpaceFloor4.onclick = () => {
        listSlideFloor4[active].classList.remove("active");
        active = active == 0 ? listSlideFloor1.length - 1 : --active;
        listSlideFloor4[active].classList.add("active");
      };
      //===========
      nextSpaceFloor5.onclick = () => {
        listSlideFloor5[active].classList.remove("active");
        active = active >= listSlideFloor1.length - 1 ? 0 : ++active;
        listSlideFloor5[active].classList.add("active");
      };
      prevSpaceFloor5.onclick = () => {
        listSlideFloor5[active].classList.remove("active");
        active = active == 0 ? listSlideFloor1.length - 1 : --active;
        listSlideFloor5[active].classList.add("active");
      };

      function reloarslider() {}
    </script>
  </body>
</html>
