.header {
  width: 100%; }

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(-50%); }
  to {
    opacity: 1;
    transform: translateY(0); } }
  .header__wrapper {
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    background-color: var(--header-bg);
    width: 100%;
    padding: 0.5rem 2.5rem; }
  .header__wrapper.active {
    animation-name: fade-in;
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0; }
  .header__logo {
    width: 70px;
    height: 70px; }
    .header__logo img {
      border-radius: 999px;
      object-fit: cover; }
  .header__nav {
    flex: 1; }
    .header__nav li a {
      font-size: 1rem;
      font-family: var(--font-primary);
      color: var(--white); }
    .header__nav li span {
      transition: 0.5s ease-in-out; }
    .header__nav li:hover a {
      color: var(--hover-nav); }
    .header__nav li:hover > span {
      height: 1px;
      width: 100%;
      background-color: var(--teal); }
  .header__contact {
    color: var(--white); }
    .header__contact-content {
      border-left: 1px solid var(--white); }
