<div class="header__banner">
  <div class="header__banner__imgs w-100 h-100">
    <img
      src="https://wcomvn.s3.ap-southeast-1.amazonaws.com/image/2020/06/02014116/banner-nha-hang.jpg"
      alt=""
      class="w-100 h-100 item active"
    />
    <img
      src="https://i.pinimg.com/1200x/3f/8e/48/3f8e48a0b20f4dc0671a8e5e8dd861a4.jpg"
      alt=""
      class="w-100 h-100 item"
    />
    <img
      src="https://masterchef.vn/wp-content/uploads/2022/12/banner-web-820x312-px.png"
      alt=""
      class="w-100 h-100 item"
    />
    <img
      src="https://viet-power.vn/wp-content/uploads/2021/05/banner-khai-truong-nha-hang-2.jpg"
      alt=""
      class="w-100 h-100 item"
    />
  </div>
  <div class="header__banner_btns">
    <button class="header__banner__btn header__banner__btn--left">
      <i class="bi bi-chevron-left"></i>
    </button>
    <button class="header__banner__btn header__banner__btn--right">
      <i class="bi bi-chevron-right"></i>
    </button>
  </div>
  <div class="header__banner__nav-btn">
    <input type="radio" id="radio0" class="radio" name="n" checked />
    <label for="radio1"></label>
    <input type="radio" id="radio1" class="radio" name="n" />
    <label for="radio2"></label>
    <input type="radio" id="radio2" class="radio" name="n" />
    <label for="radio3"></label>
    <input type="radio" id="radio3" class="radio" name="n" />
    <label for="radio4"></label>
  </div>
</div>
