<footer
  class="footer w-100 p-4 d-flex flex-column align-items-center align-items-md-start flex-md-row justify-content-md-between"
>
  <div class="footer__wrapper-logo">
    <img src="/imgs/logo.jpg" alt="" />
  </div>
  <div class="footer__location p-2">
    <p class="footer__location-title fw-bold">Vị trí nhà hàng</p>
    <div
      class="footer__location-wrapper--info d-flex flex-column align-items-center align-items-md-start"
    >
      <div class="mb-2">
        <i class="bi bi-geo-alt"></i>
        <span class="ms-2 footer__location-description"
          >Bờ kè lý sơn, gần bến cảng</span
        >
      </div>
      <div class="footer__location-map">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d240.4380954730288!2d109.09681790063442!3d15.375970337349099!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31683eb59a9c7a5b%3A0x3925c20d8aec67ad!2zTkjDgCBIw4BORyBDxqBNIEjhuqJJIFPhuqJOIMSQ4bqgSSBI4bqwTkc!5e0!3m2!1svi!2s!4v1697466448502!5m2!1svi!2s"
          width="600"
          height="450"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </div>
    </div>
  </div>
  <div
    class="footer__society p-2 d-flex flex-column align-items-md-start align-items-center"
  >
    <p class="footer__society-title fw-bold">Liên hệ</p>
    <div class="footer__society-facebook">
      <i class="bi bi-facebook" style="font-size: 15px"></i>
      <a
        href="https://www.facebook.com/NhaNghiDaiHangLySon0941390279"
        class="ms-2 footer__society-title"
        >Hải sản đại hằng</a
      >
    </div>
    <div class="footer__society-phone mt-2">
      <i class="bi bi-telephone"></i>
      <span class="ms-2">0362091690</span>
    </div>
  </div>
</footer>
