<footer class="footer w-100 p-4 d-flex justify-content-between">
  <div class="footer__wrapper-logo">
    <img src="/imgs/logo.jpg" alt="" />
  </div>
  <div class="footer__developer p-2">
    <p class="footer__developer-title fw-bold">Người phát triển</p>
    <p>Bùi Văn Châu</p>
    <p>Hoàng Phúc</p>
  </div>
  <div class="footer__location p-2">
    <p class="footer__location-title fw-bold">Vị trí nhà hàng</p>
    <div class="footer__location-wrapper--info">
      <i class="bi bi-geo-alt"></i>
      <span class="ms-2">Bờ kè lý sơn, gần bến cảng</span>
    </div>
  </div>
  <div class="footer__society p-2">
    <p class="footer__society-title fw-bold">Liên hệ</p>
    <div class="footer__society-facebook">
      <i class="bi bi-facebook"></i>
      <a
        href="https://www.facebook.com/NhaNghiDaiHangLySon0941390279"
        class="ms-2"
        >Hải sản đại hằng</a
      >
    </div>
    <div class="footer__society-phone mt-2">
      <i class="bi bi-telephone"></i>
      <span class="ms-2">0362091690</span>
    </div>
  </div>
</footer>
