<div class="header__wrapper d-flex align-items-center justify-content-between">
  <div class="header__logo">
    <a href="/">
      <img src="/imgs/logo.jpg" alt="" class="w-100 h-100" />
    </a>
  </div>
  <ul class="header__nav d-md-flex justify-content-center gap-3">
    <li class="position-relative">
      <a href="">Giới thiệu</a>
      <span class="position-absolute bottom-0 start-0"></span>
    </li>
    <li class="position-relative">
      <a href="/menu">Thực đơn</a>
      <span class="position-absolute bottom-0 start-0"></span>
    </li>
    <li class="position-relative">
      <a href="">Dịch vụ</a>
      <span class="position-absolute bottom-0 start-0"></span>
    </li>
    <li class="position-relative">
      <a href="">Đặt bàn</a>
      <span class="position-absolute bottom-0 start-0"></span>
    </li>
    <li class="position-relative">
      <a href="/khong-gian-nha-hang">Không gian nhà hàng</a>
      <span class="position-absolute bottom-0 start-0"></span>
    </li>
    <li class="position-relative">
      <a href="">Tiệc tùng</a>
      <span class="position-absolute bottom-0 start-0"></span>
    </li>
  </ul>
  <div class="header__contact d-md-flex align-items-center">
    <div class="header__contact-icon pe-2">
      <i class="bi bi-telephone-fill"></i>
    </div>
    <div class="header__contact-content ps-2">
      <p class="m-0">Liên hệ</p>
      <p class="m-0 fw-bold">0262091690</p>
    </div>
  </div>
  <button class="header-btn__menu-icon">
    <i class="bi bi-list"></i>
  </button>
</div>
