//introduce
.introduce {
  margin-top: 3.5rem;
  width: 100%;
  &-title {
    color: var(--green);
    font-size: 2.5rem;
    font-family: var(--font-card-title);
  }
  &__wrapper-cards {
  }
  @media (max-width: 768px) {
    &__card {
      width: 100% !important;
      margin-bottom: 10px;
    }
  }
  &__card {
    width: 32%;
    height: 100%;

    &-img {
      border-radius: 10px;
      height: 300px;
      overflow: hidden;
    }
    &-img__overlay {
      border-radius: 10px;
      background-color: var(--white);
      opacity: 0.1;
    }
    &-img:hover > img {
      transform: scale(1.2);
    }
    &-img img {
      max-height: 300px;
      border-radius: 10px;
      height: 100%;
      object-fit: cover;
      transition: 1s;
    }
    &-title {
      font-size: 1.5rem;
      font-family: var(--font-primary);
      color: var(--primary);
    }
    &-describe {
      font-weight: 300;
    }
  }
  &-btn {
    border-radius: 5px;
    font-size: 1.1rem;
    font-family: var(--font-card-title);
  }
}
//menu
.menu {
  &-title {
    color: var(--green);
    font-size: 2.5rem;
    font-family: var(--font-card-title);
    font-weight: bold;
  }
  @media (max-width: 768px) {
    &-card {
      width: 100% !important;
      margin-bottom: 10px;
    }
  }
  &-card {
    margin-top: 1rem;
    border: 1px solid #ccc;
    width: 32%;
    &__img img {
      max-height: 300px;
      object-fit: cover;
    }
    &__title {
      text-align: center;
      font-size: 1.6rem;
    }
    &__describe {
      text-align: center;
      font-size: 1.2rem;
      font-weight: 300;
    }
  }
}
// party
.party {
  &-title {
    color: var(--green);
    font-size: 2.5rem;
    font-family: var(--font-card-title);
  }
  @media (max-width: 768px) {
    &-card {
      width: 100% !important;
      margin-bottom: 10px;
    }
  }
  &-card {
    width: 48%;
    overflow: hidden;
    & img {
      object-fit: cover;
      width: 100%;
      max-height: 300px;
    }
    @keyframes test {
      from {
        transform: translateY(100%);
      }
      to {
        transform: translateY(0);
      }
    }
    &__wrapper-desc {
      transform: translateY(100%);
      animation-duration: 1s;
      animation-timing-function: ease;
      animation-fill-mode: forwards;
    }
    &:hover &__wrapper-desc {
      animation-name: test;
    }

    &__desc-overlay {
      height: 100px;
      opacity: 0.5;
      background-color: var(--gray-900);
    }
    &__desc {
      font-family: var(--font-card-title);
      font-size: 1.4rem;
      color: var(--white);
      transform: translateY(-50%);
    }
  }
}
