//introduce
.introduce {
  margin-top: 3.5rem;
  width: 100%;
  &-title {
    color: var(--black);
    font-size: 2.5rem;
    font-family: var(--font-card-title);
    font-weight: bold;
    letter-spacing: 0.05em;
    line-height: 1.2;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    background: linear-gradient(to right, #ff6f61, #d33f49);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: color 0.3s ease, transform 0.3s ease;
    position: relative;
  }
  &__wrapper-cards {
  }
  &-btn {
    font-size: 15px;
    font-family: "Arial", sans-serif;
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 30px;
    border: 2px solid var(--green);
    background-color: transparent;
    color: var(--green);
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
    &:hover {
      background-color: var(--green);
      color: var(--white);
      box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
    }
    &:hover::before {
      left: 100%;
    }
    &:focus {
      outline: none;
      box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
    }
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: -75%;
      width: 300%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.1);
      transform: skewX(-20deg);
      transition: left 0.5s ease-in-out;
    }
  }
  @media (max-width: 768px) {
    &__card {
      width: 90% !important;
      margin-bottom: 10px;
      &-img {
        height: 200px;
      }
    }
  }
  @media (min-width: 768px) {
    &__card {
      &-img {
        height: 300px;
      }
    }
  }
  &__card {
    width: 32%;
    height: auto;
    margin-bottom: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    background-color: var(--white);

    &-img {
      border-radius: 1px;
      // height: 300px;
      overflow: hidden;
      position: relative;
    }
    &-img__overlay {
      border-radius: 15px;
      background-color: rgba(255, 255, 255, 0.2);
      opacity: 0.1;
      transition: opacity 0.3s ease-in-out;
    }
    &-img:hover > img {
      transform: scale(1.2);
    }
    &-img img {
      max-height: 300px;
      height: 100%;
      object-fit: cover;
      transition: transform 0.5s ease-in-out;
    }
    &-title {
      font-size: 1.5rem;
      font-family: var(--font-primary);
      color: var(--primary);
      margin-top: 15px;
      text-align: center;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 1px;
      transition: color 0.3s ease-in-out;

      &:hover {
        color: var(--accent);
      }
    }
    &-describe {
      font-weight: 300;
      font-size: 1.2rem;
      text-align: center;
      color: var(--secondary);
      padding: 0 15px;
      line-height: 1.5;
      transition: color 0.3s ease-in-out;
      &:hover {
        color: var(--accent-light);
      }
    }
  }
  &-btn {
    border-radius: 5px;
    font-size: 1.1rem;
    font-family: var(--font-card-title);
  }
}
//menu
.menu {
  &-title {
    color: var(--black);
    font-size: 2.5rem;
    font-family: var(--font-card-title);
    font-weight: bold;
    letter-spacing: 0.05em;
    line-height: 1.2;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    background: linear-gradient(to right, #ff6f61, #d33f49);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: color 0.3s ease, transform 0.3s ease;
    position: relative;
  }

  @media (max-width: 768px) {
    &-card {
      width: 90% !important;
      margin-bottom: 10px;
      &__img img {
        max-height: 200px !important;
      }
    }
  }
  &-card {
    width: 32%;
    height: auto;
    margin-bottom: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    background-color: var(--white);
    position: relative;
    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
    }
    &__img img {
      max-height: 300px;
      object-fit: cover;
    }
    &__title {
      font-size: 1.5rem;
      font-family: var(--font-primary);
      color: var(--primary);
      margin-top: 15px;
      text-align: center;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 1px;
      transition: color 0.3s ease-in-out;

      &:hover {
        color: var(--accent);
      }
    }
    &__describe {
      font-weight: 300;
      font-size: 1.2rem;
      text-align: center;
      color: var(--secondary);
      padding: 0 15px;
      line-height: 1.5;
      transition: color 0.3s ease-in-out;
      &:hover {
        color: var(--accent-light);
      }
    }
  }
}
// party
.party {
  &-title {
    color: var(--black);
    font-size: 2.5rem;
    font-family: var(--font-card-title);
    font-weight: bold;
    letter-spacing: 0.05em;
    line-height: 1.2;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    background: linear-gradient(to right, #ff6f61, #d33f49);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: color 0.3s ease, transform 0.3s ease;
    position: relative;
  }
  &__wrapper-cards {
    width: 90% !important;
  }
  @media (max-width: 768px) {
    &-card {
      width: 100% !important;
      margin-bottom: 10px;
    }
  }
  &-card {
    width: 48%;
    overflow: hidden;
    border-radius: 15px;
    & img {
      object-fit: cover;
      width: 100%;
      max-height: 300px;
    }
    @keyframes test {
      from {
        transform: translateY(100%);
      }
      to {
        transform: translateY(0);
      }
    }
    &__wrapper-desc {
      transform: translateY(100%);
      animation-duration: 1s;
      animation-timing-function: ease;
      animation-fill-mode: forwards;
    }
    &:hover &__wrapper-desc {
      animation-name: test;
    }

    &__desc-overlay {
      height: 100px;
      opacity: 0.5;
      background-color: var(--gray-900);
    }
    &__desc {
      font-family: var(--font-card-title);
      font-size: 1.4rem;
      color: var(--white);
      transform: translateY(-50%);
    }
  }
}
